/* Estilo geral da página */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Adicionando margem para afastar do topo */
  background-color: #f5f5f5; /* Cor de fundo suave para contrastar com o conteúdo */
}

.countdown-title {
  font-size: 2em;
}

.countdown-timer {
  font-size: 3.5em;
}

h1 {
  text-align: center;
  color: #278236;
  margin-bottom: 2px; /* Espaço abaixo do título */
}
h2 {
  text-align: center;
  color: #ca1919;
}


h3 {
  text-align: center;
  color: #000000;
}

/* Estilo da caixa de formulário */
.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px; /* Aumentando o padding para mais espaço interno */
  border-radius: 8px; /* Suavizando as bordas */
  box-shadow: 0 0 15px rgba(18, 87, 27, 0.2); /* Sombra mais suave */
}

/* Estilo dos campos de entrada */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  margin-right: 10px;
}

.input, select {
  width: 100%; /* Tornando os campos de entrada e seleção mais largos */
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo das opções de candidatos */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9; /* Fundo leve para contraste */
}

.grid-item input[type="radio"] {
  margin-right: 10px;
}

/* Estilo da mensagem de confirmação */
#message {
  margin: 20px;
  font-weight: bold;
  color: green;
  padding: 8px;
  background-color: beige;
  border-radius: 4px;
  border-color: aquamarine;
  display: none;
  text-align: center; /* Centralizando o texto */
}

/* Estilo dos botões */
.field.is-grouped {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Espaçamento entre os botões */
}

.field.is-grouped .control {
  margin-right: 0; /* Remova o margin-right, pois gap gerencia o espaçamento */
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button.is-confirm {
  background-color: #278236;
  color: white;
}

.button.is-confirm:hover {
  background-color: #1e672b; /* Cor mais escura ao passar o mouse */
}

.button.is-clean {
  background-color: #ff4b4b;
  color: white;
  ;
}

.button.is-clean:hover {
  background-color: #d94444; /* Cor mais escura ao passar o mouse */
}

.field.is-grouped {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center; /* Centraliza os botões verticalmente */
  gap: 10px; /* Espaçamento entre os botões */
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button.is-confirm {
  background-color: #278236;
  color: white;
  margin-left: 400px;
}

#vote-button {
  background-color: green; /* Cor de fundo verde */
  color: white; /* Texto em branco */
  border: none; /* Remove a borda padrão */
}

#vote-button:hover {
  background-color: darkgreen; /* Cor de fundo mais escura quando o botão é pressionado */
}

.button.is-confirm:hover {
  background-color: #1e672b; /* Cor mais escura ao passar o mouse */
}

.button.is-clean {
  background-color: #ff4b4b;
  color: white;
}

.button.is-clean:hover {
  background-color: #d94444; /* Cor mais escura ao passar o mouse */
}

/* Estilo do título menor */
.small-text {
  font-size: smaller;
  text-align: justify;
  align-content: center;
  padding-top: 5px;
  margin-right: 10px;
}

/* Estilo do botão de votação */
.vote-button {
  background-color: green;
  color: red;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vote-button:hover {
  background-color: darkgreen; /* Cor mais escura ao passar o mouse */
}

/* Estilo para as fotos dos candidatos */
.candidate-photo {
  margin-right: 20px;
  text-align: center;
  flex: 1;
  border: 2px solid #ccc;
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.candidate-photo img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #347c2e;
  border-radius: 5px;
}

.candidate-photo p {
  font-size: 15px;
  color: #0c2c0f;
  margin: 0;
}

/* Ajustes na exibição do candidato */
#candidateName {
  font-size: 15px;
  font-style: bold;
  color: #0c2c0f;
}

#candidateParty {
  font-size: 10px;
  font-style: bold;
  color: #0c2c0f;
}
